<table class="table table-bordered table-striped table-hover">
    <caption>Your Advertisement Here!</caption>
    <thead>
    <tr>
        <th ng-click="vm.sort($event,'name')"> Name <i class="sorting-icon" ng-class="vm.getIconClass('name')"></i></th>
        <th ng-click="vm.sort($event,'age')">Age <i class="sorting-icon" ng-class="vm.getIconClass('age')"></i></th>
        <th ng-click="vm.sort($event,'nationality')">Nationality <i class="sorting-icon" ng-class="vm.getIconClass('nationality')"></i></th>
        <th ng-click="vm.sort($event,'canon')">Canon <i class="sorting-icon" ng-class="vm.getIconClass('canon')"></i></th>
        <th ng-click="vm.sort($event,'death')">Death <i class="sorting-icon" ng-class="vm.getIconClass('death')"></i></th>
    </tr>
    <tr>
        <th><form><input class="form-control" placeholder="Search name" ng-model="fm.name"ng-keypress="$event.keyCode === 13 && vm.applyFilter('name')"></form></th>
        <th><form><input class="form-control" placeholder="Search age" ng-model="fm.age"ng-keypress="$event.keyCode === 13 && vm.applyFilter('age')"></form></th>
        <th><form><input class="form-control" placeholder="Search nationality" ng-model="fm.nationality"ng-keypress="$event.keyCode === 13 && vm.applyFilter('nationality')"></form></th>
        <th><form><input class="form-control" placeholder="Search canon" ng-model="fm.canon"ng-keypress="$event.keyCode === 13 && vm.applyFilter('canon')"></form></th>
        <th><form><input class="form-control" placeholder="Search death" ng-model="fm.death"ng-keypress="$event.keyCode === 13 && vm.applyFilter('death')"></form></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in vm.rows">
        <td> {{::row.name}} </td>
        <td> {{::row.age}} </td>
        <td> {{::row.nationality}} </td>
        <td> {{::row.canon}} </td>
        <td> {{::row.death}} </td>
    </tr>
    </tbody>
</table>