caption {
    text-align: center;
    font-weight: bold;
}

th {
    position: relative;
    cursor: pointer;
}

.sorting-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    opacity: 0.5;
}

.table-length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

.table-length select {
    width: 75px;
    display: inline-block;
}

.table-pagination .pagination {
    margin: 0px;
}