<table class="table table-bordered table-striped table-hover dataTable">
    <caption>Your Advertisement Here!</caption>
    <thead>
    <tr>
        <th ng-click="vm.sort($event,'name')">Name <i class="sorting-icon" ng-class="vm.getIconClass('name')"></i></th>
        <th ng-click="vm.sort($event,'age')">Age <i class="sorting-icon" ng-class="vm.getIconClass('age')"></i></th>
        <th ng-click="vm.sort($event,'nationality')">Nationality <i class="sorting-icon" ng-class="vm.getIconClass('nationality')"></i></th>
        <th ng-click="vm.sort($event,'canon')">Canon <i class="sorting-icon" ng-class="vm.getIconClass('canon')"></i></th>
        <th ng-click="vm.sort($event,'death')">Death <i class="sorting-icon" ng-class="vm.getIconClass('death')"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in vm.renderableRows">
        <td> {{::row.name}} </td>
        <td> {{::row.age}} </td>
        <td> {{::row.nationality}} </td>
        <td> {{::row.canon}} </td>
        <td> {{::row.death}} </td>
    </tr>
    </tbody>
</table>